<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=category%></title>
</head>
<%- include('./partials/nav.js') %>

<body style="color: black;">
  <h1>Selected Menu Items for <%=Category%> Category</h1>
  <ul>
    <% menuItem.forEach((eachItem)=>{%>
      <li>name: <%= eachItem.name%> Price: <%= eachItem.price%> Rating: <%= eachItem.rating%> Details: <%= eachItem.details%></li>
   <% }) %>


  </ul>
</body>
</html>